#grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid:
        ". . .          .       .           . ." var(--size-min-square)
        ". . .          .       .           . ." var(--size-min-square)
        ". . header     .       .           . ." var(--size-min-square)
        ". . .          main    .           . ." var(--size-min-square)
        ". . .          .       footer      . ." var(--size-min-square)
        ". . .          .       .           . ." var(--size-min-square)
        ". . .          .       .           . ." var(--size-min-square)
        / var(--size-min-square) var(--size-min-square) var(--size-min-square) var(
            --size-min-square
        )
        var(--size-min-square)
        var(--size-min-square) var(--size-min-square);
}

#grid .square {
    outline: 1px solid var(--white);
}

#grid header {
    grid-area: header;
    background: var(--color-cta);
}

#grid main {
    grid-area: main;
    background: var(--color-cta);
}

#grid footer {
    grid-area: footer;
    background: var(--color-cta);
}
