#grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(7, var(--size-square));
    grid-template-rows: repeat(5, var(--size-square));
}

#grid > * {
    filter: grayscale(1);
}

#grid > *:hover {
    filter: grayscale(0);
}

img.default,
video.default {
    width: var(--size-square);
    aspect-ratio: 1/1;
}

video#starWars {
    border: 1px solid var(--gray-light);
}

img#arcane {
    grid-column: 1 / span 2;
    width: calc(2 * var(--size-square));
    aspect-ratio: 2/1;
}

img#lordOfRings {
    grid-column: 6;
    grid-row: 2 / span 3;
    width: var(--size-square);
    aspect-ratio: 1/3;
}

img#jessicaRabbit {
    position: absolute;
    bottom: var(--size-square);
    left: calc(var(--size-square) - 50px);
    z-index: var(--z-index-layer1);
}

img#roadRunner {
    width: calc(2 * var(--size-square));
    aspect-ratio: 2/1;
    transform: translateY(5px);
}
