@keyframes heavyMetal {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

img#heavyMetal {
    position: absolute;
    right: 94px;
    top: 330px;
    z-index: var(--z-index-layer2);

    animation: heavyMetal 6s ease-in-out infinite;
}
