*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    height: 100%;
}

body {
    height: 100%;

    position: relative;
    overflow: hidden;

    background: var(--gradient-background);
    background-attachment: fixed;
    overscroll-behavior: none;
}

ul {
    list-style: none;
}
